.text-left {
  margin-right: auto;
  margin-left: 0px;
}

.text-right {
  margin-left: auto;
  margin-right: 0px;
}

.info {
  display: flex;
}

.card-img-top {
  cursor: pointer;
}

.card-body {
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.refresh-start {
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: running;
}

.fa-refresh {
  cursor: pointer;
  float: right;
}
