.text-left {
  margin-right: auto;
  margin-left: 0px;
}

.text-right {
  margin-left: auto;
  margin-right: 0px;
}

.info {
  display: flex;
}

.card-img-top {
  cursor: pointer;
}

.card-body {
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
}

.icon {
  background-color: transparent;
  color: #3b5998;
  height: 60px;
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 40px;
  margin-right: 40px;
}
